*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-white: #ffffff;
    --clr-stone-100: #f3e6d8;
    --clr-stone-150: #e4ded8;
    --clr-stone-600: #5f574e;
    --clr-stone-900: #302d2c;
    --clr-brown-800: #854632;
    --clr-rose-800: #7b284f;
    --clr-rose-50: #fff5fa;

    color: #716c68;
}



html {}

body {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    background-color: var(--clr-stone-100);

}

p {
    color: var(--clr-stone-600);
    font-weight: normal;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

ul,
ol {
    padding: 0 2rem 2.25rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

li {
    padding: 0 1.5rem
}




.container {
    margin: auto;
    padding: 2.5rem 2rem 0;

}



.header-content {
    padding: 2.5rem 2rem 0;
}

.recipe-title {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--clr-stone-900);

}

.recipe-description {
    /* line-height: 1.4;
    font-weight: normal; */
}

.recipe-time {
    margin-top: 2.5rem;
    padding: 1rem 1.5rem 2rem;
    background-color: var(--clr-rose-50);
    border-radius: 10px;
}


.section-title {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 2rem;

    color: var(--clr-brown-800);
    margin-bottom: 2.25rem;
}

.section ul,
.section ol {
    border-bottom: 1px solid var(--clr-stone-100);
}

.section:not(:last-child) {
    /* background: limegreen; */
    border-bottom: 1px solid #fff;
}

.section:last-child p {
    line-height: 1.5;
}

table {
    width: 100%;
    margin-top: 2.5rem;
}

tr {}

td {
    padding: 1rem 0;
    border-bottom: 1px solid var(--clr-stone-100);
}

td:last-of-type {
    font-weight: bolder;
    color: var(--clr-brown-800);
}

footer {
    padding: 1rem 2rem;
}

main {
    margin-block-start: 0;
    background-color: var(--clr-white);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    main {
        max-width: 740px;
        margin-inline: auto;
        margin-block-start: 5rem;
        padding: 2.5rem;
        border-radius: 20px;
    }

    .header img {
        border-radius: 20px;
    }
}