*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: "outfit";
    src: url("../assets/fonts/outfit/static/Outfit-Medium.ttf");
}

html {}

body {
    font-family: "outfit";
    font-size: 1rem;
    background-color: var(--clr-stone-100);
}

img {
    max-width: 100%;
}

ul,
ol {
    margin-top: 1.5rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    padding: 0 1.5rem
}



.container {
    margin: auto;
    padding: 2.5rem 2rem 2rem;

}


.header-content {
    padding: 2.5rem 2rem 0;
}

.recipe-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.recipe-description {
    line-height: 1.2;
    font-weight: normal;
}

.recipe-time {
    margin-top: 2.5rem;
    padding: 1rem 1.5rem 2rem;
    background-color: var(--clr-rose-50);
    border-radius: 10px;

}


.section-title {
    font-size: 2.4rem;
    margin-bottom: 2.25rem;
}

section:not(:last-child) {
    /* background: limegreen; */
    border-bottom: 1px solid #fff;
}

section:last-child p {
    line-height: 1.5;
}

table {
    width: 100%;
    margin-top: 2.5rem;
}

tr {}

td {
    padding: 1rem 0;
    border-bottom: 1px solid var(--clr-stone-100);
}

td:last-of-type {
    font-weight: bolder;
    color: var(--clr-brown-800);
}

footer {
    padding: 1rem 2rem;
}

main {
    margin-block-start: 0;
    background-color: var(--clr-white);
}

@media (min-width: 768px) {
    main {
        max-width: 740px;
        margin-inline: auto;
        margin-block-start: 5rem;
        padding: 2.5rem;
        border-radius: 20px;
    }

    .header img {
        border-radius: 20px;
    }
}